[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
task_escrow = "FL4r4cpufpsdbhxLe4Gr3CMpPxAyeAu7WgRZHGb21Tor"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "node --env-file=.env --loader tsx --no-warnings ./node_modules/.bin/ts-mocha -p ./tests/tsconfig.json -t 1000000 tests/**/*.ts"

[hooks]
